<!DOCTYPE html>
<html>
<head>
<title>Documento sin tItulo</title>
</head>

<body>
<table width="1500" border="1">
  <tr>
    <td width="329"><img src="<%= path_logo_sagarpa %>" width="326" height="115" /></td>
    <td width="1011" align="center"><p>SECRETARIA DE AGRICULTUA, GANADERIA, DESARROLLO RURAL, PESCA Y ALIMENTACION<br />
      COMISION NACIONAL DE ACUACULTURA Y PESCA<br />
      DIRECCION GENERAL DE ORDENAMIENTO PESQUERO Y ACUICOLA
    </p></td>
    <td width="138"><img src="<%= path_logo_conapesca %>" height="115" /></td>
  </tr>
</table>
<br />
<table width="1500" border="1" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1246" align="center">AVISO DE ARRIBO DE EMBARCACIONES MENORES DE 10 TONELADAS DE REGISTRO BRUTO</td>
    <td width="238" align="center">FOLIO NUMERO</td>
  </tr>
  <tr>
    <td align="center">ARTICULO 10, 35, 45 FRACCION VIII Y 47 DEL REGLAMENTO DE LA LEY DE PESCA</td>
    <td><%= data.folio %></td>
  </tr>
</table>
<br />
<table width="1500" border="1">
  <tr>
    <th width="517" align="left" scope="row">LUGAR Y FECHA: <%= data.nombre_localidad %>, <%= data.fecha %></th>
    <td width="277">CLAVE:</td>
    <td width="368">HORA DE LLEGADA:</td>
    <td colspan="4"><%= data.fecha_llegada %> a las <%= data.hora_llegada %></td>
  </tr>
  <tr>
    <th align="left" scope="row">HORA DE ARRIBO: <%= data.hora_arribo %></th>
    <td>PERIODO QUE AMPARA: <%= data.periodo_inicio %> a <%= data.periodo_fin %></td>
    <td>SITIO DE DESEMBARQUE (PUERTO): <%= data.nombre_puerto %></td>
    <td colspan="4">CLAVE:</td>
  </tr>
  <tr>
    <th scope="row">NOMBRE O RAZON SOCIAL DEL PERMISIONARIO:</th>
    <td><%= data.nombre_permisionario %></td>
    <td>CLAVE R.N.P.</td>
    <td colspan="4"><%= data.clave_rnp %></td>
  </tr>
  <tr>
    <th scope="row">NUMERO DE EMBARCACIONES UTILIZADAS: <%= data.numero_embarcaciones %></th>
    <td>LUGAR DE CAPTURA: <%= data.lugar_captura %></td>
    <td>ZONA DE CAPTURA:</td>
    <td width="67">&nbsp;
      <label for="checkbox">L</label>
        <input name="checkbox" type="checkbox" <% if (data.zona_captura_litoral == 1) { %> checked <% } %> >
    </td>
    <td width="67">&nbsp;
        <label for="checkbox">B</label>
      <input type="checkbox" name="checkbox"<% if (data.zona_captura_bahia == 1) { %> checked <% } %> >
    </td>
    <td width="67">&nbsp;
        <label for="checkbox">E</label>
      <input type="checkbox" name="checkbox"<% if (data.zona_captura_aguas_estuarinas == 1) { %> checked <% } %> >
    </td>
    <td width="67">&nbsp;
        <label for="checkbox">C</label>
      <input type="checkbox" name="checkbox"<% if (data.zona_captura_aguas_cont == 1) { %> checked <% } %> >
    </td>
  </tr>
  <tr>
    <th scope="row">NUMERO DE DIAS EFECTIVOS DE TRABAJO DE PESCA</th>
    <td><%= data.num_dias_efectivos %></td>
    <td>&nbsp;</td>
    <td colspan="4">&nbsp;</td>
  </tr>
</table>
<br />
<table width="1500" border="1">
  <tr>
    <td rowspan="2" align="center">ESPECIE, PRESENTACION Y PRESERVACION</td>
    <td colspan="3" align="center">PERMISO, CONCESION O AUTORIZACION</td>
    <td rowspan="2">CLAVE DE LA ESPECIE</td>
    <td rowspan="2">PESO EN KG.</td>
    <td rowspan="2">PRECIO POR KG.</td>
  </tr>
  <tr>
    <td>NUMERO</td>
    <td>FECHA EXPEDICION</td>
    <td>VIGENCIA AL</td>
  </tr>
<!-- 
        <% data.detalle.forEach(function(lista){ %>
      <tr>
            <td><%= lista.nombre_especie %></td>
            <td><%= lista.num_concesion %></td>
            <td><%= lista.fecha_expedicion %></td>
            <td><%= lista.vigencia_al %></td>
            <td><%= lista.clave_especie %></td>
            <td><%= lista.peso %></td>
            <td><%= lista.precio_kg %></td>
      </tr>
       <% }); %>
    
     -->
    <% for(var i=0; i<10; i++) {%>
        <tr>
              <% if (i < data.detalle.length ) { %> 
                  <td><%= data.detalle[i].nombre_especie %>, <%= data.detalle[i].presentacion %>, <%= data.detalle[i].preservacion %></td>
                  <td><%= data.detalle[i].num_concesion %></td>
                  <td><%= data.detalle[i].fecha_expedicion %></td>
                  <td><%= data.detalle[i].vigencia_al %></td>
                  <td><%= data.detalle[i].clave_especie %></td>
                  <td><%= data.detalle[i].peso %></td>
                  <td><%= data.detalle[i].precio_kg %></td>
              <% } else { %>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
              <% } %>
        </tr>
    <% } %>

</table>
<p>&nbsp;</p>
</body>
</html>
